.active {
  background-color: grey;
  font-weight: bold;
  display: flex;
  padding: 8px 6px 8px 0;
  font-weight: bold;
  background: rgba(12, 13, 14, 0.05);
  color: #0C0D0E;
  line-height: 1.8;
  border-right: 3px solid #F48024;
}

