/* You can add global styles to this file, and also import other style files */


/* Add application styles & imports to this file! */
.ng-sidebar {
  background: red;
  width: 13rem;
}

.ng-sidebar--right {
  color: red !important;
  background: antiquewhite;
  width: 12rem;
}
